# Ambientes Virtuais (Venv)
venv/
.venv/
env/

# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos de Configuração e Segredos (IMPORTANTÍSSIMO)
.env
credentials.json
token.json
client_secret*.json

# Pastas de IDEs
.vscode/
.idea/

# Adicione isso ao seu .gitignore
test.db
.pytest_cache/
__pycache__/
database.py